:root {
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --color-black: #111111;
  --color-violet: #1e1823;
  --color-grey: #4c4c4c;
  --color-orange: #fd9222;
  --color-beige: #fcf1e0;
  --color-white: #fafafa;
  --color-white-two: #ffffff;
}
img {
  display: block;
}

/* header */
.header {
  border: 1px;
  display: flex;
  border-color: #1e1823;
  margin: auto;
}

.container-nav {
  width: 1136px;
  height: 80px;
  margin: auto;
}

.nav {
  display: flex;
}

.logo-chocolate {
  font-family: var(--logo-font);
  font-weight: 700;
  height: 20px;
  color: var(--color-black);
  text-decoration: none;
  display: flex;
  margin-top: 24px;
  margin-bottom: 34px;
}

.logo-chocolate:hover {
  color: red;
}

.list-link {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: auto;
}

.link {
  font-family: var(--primary-font);
  width: 43px;
  height: 16px;
  text-decoration: none;
  color: var(--color-black);
}
.icon-cosial {
  list-style: none;
  display: flex;
  gap: 14px;
  align-items: center;
}

/* section-one */
.containar-one {
  display: block;
  margin: auto;
  padding-top: 350px;
}
.section-one {
  background-color: var(--color-grey);
  background-image: url(../images/chocolate_main.jpg);
  width: 1136px;
  height: 600px;
  margin: auto;
  border-radius: 30px;
  border: 1px;
  margin-bottom: 83px;
}
.text-title {
  font-family: var(--primary-font);
  color: white;
  width: 484px;
  height: 102px;
  padding-top: 30px;
}
.botton-list {
  list-style: none;
  display: flex;
  gap: 24px;
}
.button-one {
  color: var(--color-white);
  background-color: var(--color-orange);
  border-radius: 50px;
  width: 144px;
  height: 45px;
}
.button-two {
  color: var(--color-white-two);
  background-color: var(--color-grey);
  border-radius: 50px;
  border-color: var(--color-white);
  width: 183px;
  height: 50px;
  border: 1px solid #e7e9fc;
}

.button-one:hover {
  color: red;
}
.button-one:focus {
  color: var(--color-violet);
}
.button-one:hover {
  background-color: var(--color-black);
}
.button-one:focus {
  background-color: red;
}
.button-two:hover {
  color: var(--color-black);
}
.button-two:focus {
  color: var(--color-orange);
}
.button-two:hover {
  background-color: var(--color-white);
}
.button-two:focus {
  background-color: var(--color-violet);
}
.button-two:hover {
  border-color: var(--color-orange);
}

/* section-two */
.container-two {
  display: flex;
  margin: auto;
}
.section-two {
  background-color: var(--color-violet);
  width: 1200px;
  height: 266px;
  margin: auto;
  margin-bottom: 120px;
}
.list {
  list-style: none;
  display: flex;
  margin: auto;
  gap: 88px;
}
.text {
  color: var(--color-white);
  font-family: var(--logo-font);
  margin-bottom: 18px;
}
.paragraphe {
  font-family: var(--primary-font);
  color: var(--color-white);
  width: 308px;
  height: 126px;
}
.icon-choc {
  border-radius: 50px;
  border: solid 1px var(--color-beige);
}
/* section-three */
.container-three {
  margin: auto;
  margin-bottom: 120px;
}
.section-three {
  margin: auto;
}
.text-ingredients {
  font-family: var(--logo-font);
  width: 412px;
  height: 56px;
  margin: auto;
  padding-bottom: 80px;
}
.paragraphe-two {
  color: var(--color-black);
  width: 486px;
  height: 72px;
  margin: auto;
  margin-bottom: 50px;
}
.list-images {
  list-style: none;
  display: flex;
  margin: auto;
  gap: 32px;
  margin-bottom: 120px;
  flex-wrap: wrap;
  width: calc((100% - 32px) / 2);
}
.img-choco {
  background-color: var(--color-orange);
  margin: auto;
  border-radius: 10px;
}
.img-cacao {
  background-color: var(--color-orange);
  margin: auto;
  border-radius: 10px;
}
.img-nuts {
  background-color: var(--color-violet);
  margin: auto;
  border-radius: 10px;
}
.img-coconut {
  background-color: var(--color-violet);
  margin: auto;
  border-radius: 10px;
}

.span {
  color: var(--color-orange);
}
/* sectoin-foure */
.container-four {
  margin: auto;
  display: flex;
  justify-content: center;
}
.section-four {
  margin-bottom: 120px;
}
.title-main {
  margin: auto;
  width: 205px;
  height: 28px;
  margin-bottom: 50px;
}
.container-img {
  margin-right: 20px;
}
.img-choco-made {
  display: block;
}
.container-text-four {
}
.title-recipe {
  font-family: var(--logo-font);
  color: var(--color-black);
  width: 350px;
  height: 48px;
  align-items: center;
  margin-bottom: 28px;
}
.list-recipe {
  list-style: disc;
}
.paragraphe-three {
  font-family: var(--primary-font);
  color: var(--color-black);
}
.paragraphe-three-one {
  margin-bottom: 24px;
}
.paragraphe-three-two {
  margin-bottom: 24px;
}
.paragraphe-three-three {
  margin-bottom: 24px;
}
.paragraphe-three-foure {
  margin-bottom: 24px;
}
.paragraphe-three-five {
  margin-bottom: 24px;
}
/* section-five */
.section-five {
  margin: auto;
}
.container-five {
  margin: auto;
  margin-bottom: 120px;
}
.title-products {
  color: var(--color-black);
  width: 196px;
  height: 28px;
  margin: auto;
  margin-bottom: 50px;
}
.list-products {
  display: flex;
  margin: auto;
  list-style: none;
  flex-wrap: wrap;
}
.chocolates {
  gap: 8px;
  margin: auto;
  width: calc((100% - 38px) / 4);
}
.img-chocolates {
  margin: auto;
}
.title-chocolate {
  margin: auto;
  text-align: center;
}
.title {
  margin-bottom: 8px;
}
.paragraphe-foure {
  color: var(--color-grey);
  width: 88px;
  height: 14px;
  margin: auto;
}
/* section-six */
.section-six {
  margin: auto;
}
.container-six {
  margin: auto;
  margin-bottom: 120px;
}
.title-sellers {
  width: 488px;
  height: 28px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}
.list-sellers {
  list-style: none;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.list-shock {
  margin: auto;
}
.title-six {
  text-align: center;

  font-family: var(--primary-font);
}
/* section-seven */
.section-seven {
  margin: auto;
  display: flex;
}
.container-seven {
  margin: auto;
  margin-bottom: 220px;
  width: 1136px;
  height: 418px;
  margin-bottom: 50px;
}
.list-comand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.img-comand {
  list-style: none;
  margin-bottom: 18px;
}
.viktoria {
  margin: auto;
}
.nazar {
  margin: auto;
}
.olena {
  margin: auto;
}
.container-text-seven {
  gap: 28px;
}
.title-seven {
  text-align: center;
  margin-bottom: 24px;
}
.paragraphe-five {
  color: var(--color-grey);
  width: 312px;
  height: 72px;
  margin-bottom: 50px;
  text-align: center;
}
/* button-end */
.container-button-end {
  margin: auto;
  justify-content: center;
  display: flex;
}
.section-button-end {
  margin: auto;
  align-items: center;
}
.button-end {
  width: 222px;
  height: 50px;
  border: 4px;
  border-radius: 20px;
  border-color: var(--color-orange);
  align-items: center;
  margin-bottom: 100px;
}
.button-end:hover {
  color: brown;
}
.button-end:focus {
  color: var(--color-violet);
}
.button-end:hover {
  background-color: greenyellow;
}
.button-end:focus {
  background-color: chocolate;
}
/* footer */
.footer {
  background-color: var(--color-violet);
  width: 1200px;
  height: 298px;
  margin: auto;
}
.container-footer {
  padding-top: 60px;
}
.logo-footer {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--logo-font);
  width: 300px;
  height: 68px;
  padding-left: 32px;
}
.list-link-footer {
  list-style: none;
  display: flex;
  gap: 24px;
}
.link-two {
  color: var(--color-white);
  text-decoration: none;
}
.container-adress {
  justify-content: end;
  display: flex;
}
.footer-paragraph {
  font-family: var(--logo-font);
  color: var(--color-white);
  width: 77px;
  height: 18px;
}
.main-adress {
}
.list-adress {
  list-style: none;
}
.telephone {
  margin-bottom: 4px;
}
.mail {
}
.adress-footer {
  color: var(--color-white);
  text-decoration: none;
}
.container-button-footer {
  margin-bottom: 50px;
  display: flex;
  justify-content: end;
}
.button-footer {
  background-color: var(--color-orange);
  border-radius: 20px;
  width: 137px;
  height: 52px;
  color: var(--color-white);
}
